body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/**----------Header CSS-------------*/
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.user-box img
{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;
}
.user-box h1
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p
{
    color: #fff;
}
.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 50px;
}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover
{
    0%{transfrom: translateY(0);}
    100%{transfrom: translateY(10px);}
}
/*--------------About-------------------*/
.about
{
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: -130px;
}
.about .col-md-6 h3
{
    color: #000000;
}
.about .col-md-6 p
{
    color: #000000;
    text-align: justify;
}
.about .col-md-6 li
{
    color: #000000;
}
.profile-img
{
    height: 400px;
    border-radius: 50px;
    border: 5px solid #000000;
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}
.nav-bar
{
    background-color: #000;
}
.navbar-brand img
{
    height: 50px;
}
.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-navbar{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}
/*----------------Contact-------------------*/
.contact
{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.contact .row
{
    padding: 30px 0;
    font-size: 22px;
}
.contact .col-md-4 a:hover {
    color: #ffffff;
}
.contact .col-md-4 .fa
{
    padding: 10px;
    font-size: 40px;
}
.contact a
{
    color: #fff;
}
.contact .btn
{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}
.contact .btn:focus{
    box-shadow: none !important;
}
.contact .btn:hover
{
    border: 2px solid #575757 !important;
    background: #000 !important;
    transition: 0.6s;
}

.contact .btn .fa
{
    margin-right: 10px;
}
.contact .btn a {
    color: #ffffff;
    font-family: sans-serif;
}
.footer
{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}

/*--------------------Social-icons-------------------*/
.social-icons
{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul
{
    padding: initial;
}
.social-icons ul li
{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}
.social-icons ul li:hover
{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

.blog
{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.blog .btn
{
    padding-top: 20px;
    margin: 5px;
    border-radius: 80px;
    border: 0 solid #fff;
    background: transparent;
}
.blog .btn:focus{
    box-shadow: none !important;
}
.blog .btn:hover
{
    background: #000 !important;
    transition: 0.6s;
}
.page h1{
    padding-bottom: 300px;
    padding-top: 50px;
    color: #121212;
    background-color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}

#footer .container .row {
    padding-bottom: 8px;
}
